header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
}

header nav {
  width: 60%;
  display: flex;
  align-items: right;
  text-align: right;
  justify-content: space-around;
}

.products {
  background-color: #e5efdb;
}

.contact {
  background-color: #e0eaf5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.card1{
  background-color: yellow;
}

.card2{
  background-color: lavender;
}

.card1 img {
  width: 50%;
  display: flex;
  align-items: right;
}
.card2 img {
  width: 50%;
}

footer nav {
  width: 60%;
}

h1 {
  width: 25%;
}

/* form {
  display: flex;
  flex-direction: column;
} */

.products__cards {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  gap: 20px;
  width: 100%;
}

footer div,
footer nav {
  display: flex;
  flex-direction: column;
}

.footer__logo {
  text-align: right;
}

footer a,
footer p {
  margin: 10px 0;
}

.hero {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  background-position: center;
  background-size: cover;
}

section{
  min-height: 500px;
}